# Database related options
POSTGRES_HOST = "localhost"
POSTGRES_PORT = 5432
POSTGRES_DB = "highlight"
POSTGRES_USERNAME = "postgres"
POSTGRES_PASSWORD = "root"

# Discord token for the bot application
DISCORD_TOKEN="owo"

# Discord webhook URL for guild joins/leaves
GUILD_JOIN_LEAVE_WEBHOOK_URL="https://owo.uwu"

# Discord webhook URL for errors
ERROR_WEBHOOK_URL="https://owo.uwu"

# Discord server for support
SUPPORT_SERVER_INVITE="https://discord.gg/C6D9bge"

# Comma-separated list of development ids
DEVELOPMENT_GUILD_IDS=""

# Ignore anything after this
POSTGRES_URL = "postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

